
* {
  font-family: 'Exo 2', sans-serif;
  font-style: italic;
  text-transform: uppercase;
  -webkit-transition: .1s linear;
  transition: .1s linear;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background: url(../../wallpaper2.jpg) no-repeat;
  background-size: cover;
  backdrop-filter:blur(2px);
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.bg{
	background-image: url("../../wallpaper2.jpg");
}

.container {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: rgba(0, 0, 0, 0.5);
  height: 45rem;
  width: 40rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0 2rem black;
          box-shadow: 0 0 2rem black;
}

.container form {
  height: 90%;
  width: 90%;
}

.container form input[type="text"] {
  width: calc(100% - .5rem);
  height: 5rem;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 2.5rem;
  padding: 0 2rem;
  margin: 1rem 0;
}

.container form input[type="button"] {
  border: none;
  outline: none;
  height: 6rem;
  width: 8rem;
  margin: .35rem;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  color: #333;
  font-size: 2.5rem;
}

.container form input[type="button"]:active {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.container form input[type="button"].total {
  width: 26rem;
  background: rgba(255, 0, 0, 0.5);
  color: #fff;
}

.container form input[type="button"].total:active {
  background: rgba(0, 0, 0, 0.5);
}
